<?xml version="1.0"?>


<launch>

	<include file="$(find scout_ipcam)/streamer_v2.launch">
		<arg name="ip" value="91"/>
		<arg name="stream_num" value="3"/>
	</include>


	<include file="$(find scout_ipcam)/streamer_v2.launch">
		<arg name="ip" value="92"/>
		<arg name="stream_num" value="3"/>
	</include>


	<include file="$(find scout_ipcam)/streamer_v2.launch">
                <arg name="ip" value="93"/>
                <arg name="stream_num" value="3"/>
        </include>

</launch>
