<?xml version="1.0"?>

<launch>

	<node pkg="cam" type="node" name="node" output="screen">
		<rosparam command="load" file="$(find cam)/params/tracking_params.yaml" />
		<rosparam command="load" file="$(find cam)/params/image_settings.yaml" />
		<rosparam command="load" file="$(find cam)/params/blue_blob_settings.yaml" />
		<rosparam command="load" file="$(find cam)/params/red_blob_settings.yaml" />
	</node>

	<group ns="robot1">

		<node pkg="estimator_cam" type="node" name="estimator" output="screen">
		</node>

	</group>

	<group ns="robot2">

		<node pkg="estimator_cam" type="node" name="estimator" output="screen">
		</node>

	</group>

	<group ns="robot3">

		<node pkg="estimator_cam" type="node" name="estimator" output="screen">
		</node>

	</group>
	
</launch>
